.v-table {
  --v-table-row-height: 25px;
}

.v-data-table-header__content {
  font-weight: bold;
}

.v-data-table-cell-custom {
  font-size: large;
}

.v-data-table-cell-custom:first-child {
  font-size: x-large;
}

/*Striped rows*/
tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .02);
}

a {
  color: #1976d2;
}
